.IngredientListContainer{


    flex-basis: 30%;
    border: 1px solid black;
    padding: 30px;
    
    ul {

         
            li {

                margin-bottom: 1rem;

            }
    }
    }